<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pallete</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <div class="menu-bar pallete">
        <div class="menu-text">{{ item['key'] }}</div>
        <div class="menu-buttons">
            <div id="info" class="menu-option"><i data-feather="info"></i>
                <span class="tip">Download app</span>
            </div>
            <div id="{{ item['key'] }}" class="menu-option api"><i data-feather="code"></i>
                <span class="tip">Copy api link</span>
            </div>
        </div>
    </div>
    <div id="{{ item['key'] }}" class="color-grid pallete">
        <div id="{{ item['colors']['1'] }}" class="color-card pallete">
            {{ item['colors']['1'] }}
        </div>
        <div id="{{ item['colors']['2'] }}" class="color-card pallete">
            {{ item['colors']['2'] }}
        </div>
        <div id="{{ item['colors']['3'] }}" class="color-card pallete">
            {{ item['colors']['3'] }}
        </div>
        <div id="{{ item['colors']['4'] }}" class="color-card pallete">
            {{ item['colors']['4'] }}
        </div>
        <div id="{{ item['colors']['5'] }}" class="color-card pallete">
            {{ item['colors']['5'] }}
        </div>
    </div>

</body>

<script src="/static/scripts/palette.js"></script>
<script src="/static/scripts/feather.js"></script>
<script>
    feather.replace()
</script>

</html>