/* Devices */

@media only screen and (max-width: 600px) {
    .menu-text {
        margin-right: 60px;
    }
    .menu-bar.favorites > * {
        margin-right: 75px;
        margin-left: 70px;
    }
    .menu-bar.card {
        margin-left: 210px;
    }
    .menu-bar.pallete > * {
        margin-right: -0px;
        margin-left: 10px;
    }
    .menu-bar.secondary {
        margin-right: 160px;
    }
    .menu-bar.card.fav {
        margin-left: 300px;
    }
    .color-grid {
        grid-template-columns: auto;
    }
    .color-card.favorites {
        padding: 100px 100px;
    }
    .color-card {
        padding: 100px 100px;
        font-size: 30px;
    }
} 
  
@media only screen and (min-width: 600px) {
    .menu-text {
        margin-right: 220px;
    }
    .menu-bar.favorites > * {
        margin-right: 165px;
        margin-left: 160px;
    }
    .menu-bar.card {
        margin-left: 450px;
    }
    .menu-bar.pallete > * {
        margin-right: 80px;
        margin-left: 75px;
    }
    .menu-bar.secondary {
        margin-right: 160px;
    }
    .menu-bar.card.fav {
        margin-left: 470px;
    }
    .color-grid {
        grid-template-columns: auto auto auto auto auto;
    }
    .color-card.favorites {
        padding: 50px 10px;
    }
    .color-card {
        padding: 100px 10px;
        font-size: 20px;
    }
    .url-input {
        width: 475px;
    }
} 
  
@media only screen and (min-width: 768px) {
    .menu-text {
        margin-right: 420px;
    }
    .menu-bar.favorites > * {
        margin-right: 225px;
        margin-left: 220px;
    }
    .menu-bar.card {
        margin-left: 570px;
    }
    .menu-bar.pallete > * {
        margin-right: 180px;
        margin-left: 175px;
    }
    .menu-bar.secondary {
        margin-right: 160px;
    }
    .menu-bar.card.fav {
        margin-left: 670px;
    }
    .color-grid {
        grid-template-columns: auto auto auto auto auto;
    }
    .color-card.favorites {
        padding: 50px 30px;
    }
    .color-card {
        padding: 150px 30px;
    }
    .url-input {
        width: 675px;
    }
} 
  
@media only screen and (min-width: 992px) {
    .menu-text {
        margin-right: 620px;
    }
    .menu-bar.favorites > * {
        margin-right: 325px;
        margin-left: 320px;
    }
    .menu-bar.card {
        margin-left: 770px;
    }
    .menu-bar.pallete > * {
        margin-right: 280px;
        margin-left: 275px;
    }
    .menu-bar.secondary {
        margin-right: 170px;
    }
    .menu-bar.card.fav {
        margin-left: 870px;
    }
    .color-grid {
        grid-template-columns: auto auto auto auto auto;
    }
    .color-card.favorites {
        padding: 50px 50px;
    }
    .color-card {
        padding: 150px 50px;
    }
    .url-input {
        width: 875px;
    }
} 

@media only screen and (min-width: 1200px) {
    .menu-text {
        margin-right: 620px;
    }
    .menu-bar.favorites > * {
        margin-right: 350px;
        margin-left: 345px;
    }
    .menu-bar.card {
        margin-left: 780px;
    }
    .menu-bar.pallete > * {
        margin-right: 280px;
        margin-left: 275px;
    }
    .menu-bar.secondary {
        margin-right: 160px;
    }
    .menu-bar.card.fav {
        margin-left: 870px;
    }
    .color-grid {
        grid-template-columns: auto auto auto auto auto;
    }
    .color-card.favorites {
        padding: 50px 50px;
    }
    .color-card {
        padding: 150px 50px;
    }
    .url-input {
        width: 875px;
    }
    .fav-grid {
        grid-template-columns: auto auto auto !important;
        display: grid;
        scale: 55%;
    }
    
    .fav-item {
        margin: 5px;
    }
}

/* CSS */

body {
    font-family: "Open Sans", sans-serif;
    background-color: #1C1B1B;
    flex-direction: column;
    align-items: center;
    color: #FFFF;
    display: flex;
}

/* Menu */

.menu-bar {
    align-items: center;
    flex-direction: row;
    transition: 3s;
    display: flex;
    margin: 10px;
}

.menu-option {
    border: 4px solid #353535;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    padding: 2px 4px;
    cursor: pointer;
    margin: 2px;
}

.menu-buttons {
    flex-direction: row;
    display: flex;
}

.menu-option:hover {
    background-color: #353535;
}

.menu-text {
    font-size: 40px;
}

/* Color Containers */

.color-grid {
    border: 10px solid #353535;
    margin-top: auto !important;
    border-radius: 8px;
    display: grid;
    margin: 0;
}

.color-card {
    text-align: center;
    cursor: pointer;
    transition: 2s;
}

.color-card:hover {
    transition: 2s;
    opacity: 50%;
}

/* Palette */

.url-input {
    background-color: #1C1B1B;
    border: 2px solid #353535;
    text-align: center;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 25px;
    transition: 2s;
    color: #FFFF;
}

.url-input:focus {
    border-color: #FFFF;
    transition: 2s;
    outline:none;
}